
*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    display: flex;

    flex-direction: column;
 
    min-height: 100vh;

    background-color: rgb(250, 250, 250);;
}

/*Estilizando Menu*/


.menu-bg{
    
    background-color: white;
    margin-bottom: 2em;
    border-bottom: 1px solid rgb(219, 219, 219);
  
}

.menu{
    flex: 1 0;
    max-width: 800px;
 
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.25em 1em;

}
.menu input{
    text-align: center;
    padding: 0.25em 1em;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 0.5em;
    font-size: 1em;
}

.story{
    border-radius: 50%;
}

/*Estilizando Conteúdo*/

.pagina{
    display: flex;
    justify-content: center;

}
.meio{
    flex: 0 1 800px;
    display:flex;
    justify-content: space-between;
    padding: 0.25em 1em;

}
.cards{
    

    display: flex;
    flex-direction: column;

    justify-content: flex-start;
}
.content{
    display: flex;
    margin-bottom: 2em;
    background-color: white;

}
.content:last-child{
    margin-bottom: 4em;
}

.caixapost {
    display: flex;
    flex-direction: column;

    border: 1px solid rgb(219, 219, 219);
    border-radius: 0.5em;

}

.title{
    
    display: flex;
    align-items: center;
    padding: 0.25em 1em;
    border-bottom: 1px solid rgb(219, 219, 219);;
}

.title img{
    margin-right: 0.5em;
    border-radius: 50%;
}
.img-container{
    padding: 0.5em;;
}
.other{
    display: flex;
    justify-content: center;

    align-items: flex-start;
}
.other span{
    padding: 1.2em 0.25em;
}

.other img{
    margin-left: 2em;
    border-radius: 50%;
}

/*Rodapé*/
.rodape-bg{
    
    background-color: white;
    margin-top: auto;
}
.rodape-bg{
    flex: 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    border: 1px solid rgb(219, 219, 219);
}


