*{
    margin: 0;
    padding: 0;
    border: 0;
}

.red {
    width: 100px; 
    height: 100px; 
    background-color: red;
}

.blue {
    width: 100px; 
    height: 100px; 
    background-color: blue;
}

.orange {
    width: 100px; 
    height: 100px; 
    background-color: orange;
}

.green {
    width: 100px; 
    height: 100px; 
    background-color: green;
}