@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');


*{
    margin: 0;
    border: none;
    padding: 0;
    font-family: "Exo 2", sans-serif;
}


body {
    background-color: #30323D;
    width: 1200px;
    height: 720px;
    position: relative;
    margin: 0 auto;
}

.cards {
    width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 64px;
    position: absolute;
    top: 72px;
    left: 76px;
}

.card { 
    background-color: #FBFCFF;
    border-radius: 8px;
}

.card_title {
    text-align: center;
    margin: 20px 16px 8px;
    border-bottom: 1px solid #D0CCD0;
    padding-bottom: 12px;
}

.card_title p {

    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #4D5061;

}


.card_content {

    margin: 8px 16px 20px;
}

.card_content p {
    color: #4D5061;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}



.card_footer{
    width: 300px;
    align-items: center;
    height: 30px;
    background-color: #E8C547;
    
    
}

.card_footer p {

    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-align: right;
    padding: 8px 16px;

}
